.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.address {
  color:  #00eaea;
}

.abs {
  margin: 12px 24px;
  position: absolute;
}

.top {
  top: 0;
}

.left {
  left: 0;  
}

.right {
  right: 0;
}

a { 
  text-decoration: none;
}

button {
  display: inline-block;
    border: 0;
    cursor: pointer;
    padding: 6px 13px;
    background: linear-gradient(135deg,#bceb00 15.57%,#00eaea 84.88%);
    box-shadow: 0 10px 20px rgb(136 120 172 / 20%);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    font-family: "Space Grotesk",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    transition: 50ms ease-in;
}